* { /* для всіх елементів сторінки */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 0.833vw;
    box-sizing: border-box;
    text-decoration: none;
    
}

.nav { /* редагування розміщення heading */
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 6.458vw;
}

h1, h2 { /* відсутність відступів у заголовків за замовчуванням */
    padding: 0;
    margin: 0;
}

ul, li { /* розташування списків */
    display: flex;
    align-items: center;
}

.container { /* задання початкової ширини контейнера */
    width: 83.958vw;
    margin: 0 auto; /* позиціонування по центру */
}

.header { /* редагування вигляду header */
    background: url('../falkovskyi/img/main_ph.jpg') center no-repeat; /* встановлення зображення */
    background-size: cover; 
    height: 100vh; 
}

.header a { /* встановлення стилю */
    color: white;
}

.header_title a { /* встановлення стилю для логотипа */
    font-size: 3.646vw;  
    letter-spacing: 0.365vw;
}

.menu { /* редагування вигляду головної панелі */
    margin-top: 1.823vw;
    display: flex; /* розташування на одному рівні */
    justify-content: space-between; /* відстань між */
}

.menu a { /* редагування вигляду тегів */
    font-size: 1.302vw;
    letter-spacing: 0.104vw;
}

.btn { /* програмування кнопки */
    padding: 0.938vw;
    border: 0.104vw solid white;
    font-size: 1.563vw;
    line-height: px;
}

.btn:hover { /* зміна вигляду кнопки при наведенні, псевдоклас */
    background-color: white;
    color: black;
    transition: .4s ease;
}

.aboutme { /* редагування вигляду блоку */
    padding-top: 10vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.aboutme h1 { /* редагування вигляду заголовка */
    font-size: 3.385vw; 
    letter-spacing: 0.365vw; 
    line-height: 2em;
}

.aboutme h3 { /* редагування вигляду тексту */
    font-size: 1.302vw; 
    text-align: justify;
    line-height: 2em;
}

.contactinfo { /* редагування вигляду блоку */
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.contactinfo h1 { /* редагування вигляду заголовка */
    font-size: 3.385vw; 
    letter-spacing: 0.365vw; 
    line-height: 2em;
}

.contactinfo h3 { /* редагування вигляду тексту */
    font-size: 1.302vw; 
    line-height: 2em;
}

.contactinfo a { /* редагування вигляду тегу */
    font-size: 1.302vw; 
    color:black;
}

.contactme {
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.contactme h1 {
    font-size: 3.385vw; 
    line-height: 2em;
}

.form-container {
    max-width: 26.042vw;
    margin: 1.042vw auto;
    padding: 1.042vw;
    border: 0.052vw solid #ccc;
    border-radius: 0.260vw;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.302vw;
    margin-bottom: 0.521vw;
}

input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.521vw;
    font-size: 0.833vw;
    border-radius: 0.260vw;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 0.521vw 1.042vw;
    font-size: 1.302vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.260vw;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(190, 190, 190);
    color: black;
    transition: .4s ease;
}

.footer { /* створення вигляду footer */
    background-color: black;
    height: 9.583vw;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 4.167vw;
}

.myworks h1 {
    font-size: 3.385vw; 
    letter-spacing: 0.365vw; 
    line-height: 2em;
}

.dropdown {
    margin-top: 1.042vw;
    display: flex;
    height: 3.646vw; 
}

.dropdown select {
    padding: 0.521vw;
    border: 0.104vw solid black;
    font-size: 1.302vw;
    line-height: 0.521vw;
}

.all {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.landscapes {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10vh;
}
  
.children {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.portraits {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.family {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 10vh;
}

#gallery {
    display: flex;
    width: 83.958vw;
    margin: 1.042vw 0vw;
    flex-wrap: wrap;
}
.image {
    width: 26.042vw;
    height: 26.042vw; 
    object-fit: cover;
    margin: 0.781vw;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 95vw;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 80.067vw;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 72.654vw;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 70.404vw;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 2.609vw;
    }
}
