* {
  /* для всіх елементів сторінки */
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
  text-decoration: none;
}

.nav {
  /* редагування розміщення heading */
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 6.458vw;
}

h1,
h2 {
  /* відсутність відступів у заголовків за замовчуванням */
  padding: 0px 0px 30px 0px;
  margin: 0;
  font-size: 3.385vw;
  letter-spacing: 0.365vw;
}

a {
  font-size: 1.302vw;
}

ul,
li {
  /* розташування списків */
  display: flex;
  align-items: center;
}
p {
  font-size: 25px;
}

section {
  margin: 50px 0;
}

.container {
  /* задання початкової ширини контейнера */
  width: 83vw;
  margin: 0 auto; /* позиціонування по центру */
}

.header {
  /* редагування вигляду header */
  background: url("falkovskyi/img/main_ph.jpg") center no-repeat; /* встановлення зображення */
  background-size: cover;
  height: 100vh;
}

.header a {
  /* встановлення стилю */
  color: white;
}

.header_title a {
  /* встановлення стилю для логотипа */
  font-size: 3.646vw;
  letter-spacing: 0.365vw;
}

.menu {
  /* редагування вигляду головної панелі */
  margin-top: 1.823vw;
  display: flex; /* розташування на одному рівні */
  justify-content: space-between; /* відстань між */
}

.menu a {
  /* редагування вигляду тегів */
  letter-spacing: 0.104vw;
}

.btn {
  /* програмування кнопки */
  padding: 0.938vw;
  border: 0.104vw solid white;
  font-size: 1.563vw;
}

.btn:hover {
  /* зміна вигляду кнопки при наведенні, псевдоклас */
  background-color: white;
  color: black;
  transition: 0.4s ease;
}

.aboutme {
  /* редагування вигляду блоку */
  padding: 3vw 0;
}

.aboutme p {
  /* редагування вигляду тексту */
  text-align: justify;
}

.contactinfo {
  /* редагування вигляду блоку */
  padding-bottom: 3vw;
}

.contactinfo a {
  /* редагування вигляду тегу */
  font-size: 32px;
  color: black;
}

.contactme {
  padding-bottom: 3vw;
}

#contact-form {
  width: 64vw;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0.521vw;
}

input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  border-radius: 0.26vw;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 15px 20px;
  font-size: 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.26vw;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(190, 190, 190);
  color: black;
  transition: 0.4s ease;
}

.footer {
  /* створення вигляду footer */
  background-color: black;
  width: 100%;
  text-align: center;
  color: white;
  padding: 50px 0;
}

.dropdown {
  margin-top: 1.042vw;
  display: flex;
  height: 3.646vw;
}

#category {
  border: 2px solid black;
}

#gallery {
  display: flex;
  margin: 1.042vw 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image {
  object-fit: cover;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90vw;
  }
  .nav {
    padding-bottom: 11vw;
  }
  .header_title a {
    font-size: 6vw;
    line-height: 7vw;
  }
  .menu {
    margin-top: 3vw;
  }
  .menu a {
    font-size: 2vw;
    letter-spacing: 0.1vw;
  }
  .btn {
    padding: 1.1vw;
    border: 0.2vw solid white;
    font-size: 1.563vw;
  }
  h1,
  h2 {
    font-size: 5.4vw;
  }
  #contact-form {
    width: 70vw;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 90vw;
  }
  .header_title a {
    font-size: 7vw;
    line-height: 8.5vw;
  }
  .menu {
    margin-top: 3vw;
  }
  .menu a {
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
  }
  .btn {
    padding: 1.1vw;
    border: 0.2vw solid white;
    font-size: 2.5vw;
  }
  #gallery {
    justify-content: center;
  }
  .image {
    width: 70vw;
  }
  h1,
  h2 {
    font-size: 6.5vw;
  }
  #contact-form {
    width: 70vw;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
  .header_title a {
    font-size: 8vw;
    line-height: 8.5vw;
  }
  .menu {
    margin-top: 3vw;
  }
  .menu a {
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
  }
  .btn {
    padding: 1.1vw;
    border: 0.2vw solid white;
    font-size: 3.5vw;
  }
  .image {
    width: 70vw;
  }
  h1,
  h2 {
    font-size: 8.5vw;
  }
  #contact-form {
    width: 70vw;
  }
}

/* 0 - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90vw;
  }
  .header_title a {
    font-size: 9vw;
    line-height: 9vw;
  }
  .menu {
    margin-top: 3vw;
  }
  .menu a {
    font-size: 4.5vw;
    letter-spacing: 0.1vw;
  }
  .btn {
    padding: 1.1vw;
    border: 0.2vw solid white;
    font-size: 4.5vw;
  }
  .image {
    width: 70vw;
  }
  .menu {
    display: block;
  }
  .myworks .menu {
    display: flex;
    flex-direction: column;
  }
  #category {
    height: 40px;
  }
  #gallery {
    margin-top: 50px;
  }
  .menu ul {
    margin-top: 20px;
  }
  h1,
  h2 {
    font-size: 11vw;
  }
  #contact-form {
    width: 70vw;
  }
}
